/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.dispalynone{
    display: none;
}
select span{
    color:#333 ! important;
}
.aa{
   border:1px solid blue; 

}
.aa1{
   border:1px solid green; 

}
.btn{
    background: #41428B;
}
.btn:hover{
    background: #fff ! important;
    color:#41428B;
}
.dispaly-inline{
    display: inline;
    margin-left: 15px;
}
.margin-left-25{
    margin-left: 25px ! important;
}
.paddin-left-10{
    padding-left: 10px;
}
.border-bottom{
    border-bottom: 2px solid blue;
}
.one,.two,.three{
    display: non;
}
.padding-top-0{
    padding-top: 0 ! important;
}
.margin-top-120{
    margin-top:120px;
}
.margin-top-80{
    margin-top:80px;
}
.margin-top-60{
    margin-top:60px;
}
.margin-top-30{
    margin-top:30px;
}
.margin-top-50{
    margin-top:50px;
}
.page-4{
    position:relative;
}
.padding-5{
    padding: 5px 0;
}
input:not([type]), input[type=text], input[type=password], 
input[type=email], input[type=url], input[type=time], 
input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], 
input[type=number], input[type=search], 
textarea.materialize-textarea {
    margin: 0 0 8px 0;
    border-bottom: 1px solid #333;

}
.input-field label{
    color:#333 ! important;
    font-size: 12px;
}
.input-field input:focus {
    box-shadow: 0 1px 0 0 #41428b ! important;
    border-bottom: 1px solid #41428b ! important;

}
.input-field input:focus + label {
   color:#41428b ! important;

}

.caret {
  border-color: transparent !important;
}

 body {
    overflow-x: hidden;
    background: #fcfcfc;
 }
 .container-fluid{
    padding: 0 ! important;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #41428B;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;

   
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


.container-fluid nav{
    height:50px;
    line-height: 50px;
    background-color:#fff ! important;
}
.card-panel .registation-heding{
    text-align: center;
    color:blue;
    font-size: 20px;


}
.heding-parag{
    color:#41428B;
    text-align: center;
    font-size: 20px;
}
.center{
     text-align: center;
}
.page-2{
    margin-top: 40px;
    
}

.page-2 .box{
    padding-top:30px;
    padding-bottom: 50px;
    height: 400px;
    position: relative;
    
}

.page-2 .box .masseage-para{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color:#333;
}
.box-inner{
   
    height: 240px;
}
.border-right{
    border-right: 1px solid #333;
}
.left-box-btn{
    position: absolute;
}
.card{
    padding: 10px 0 0 0;
    
}
.image-upload{
    position:absolute;
    top: 116px;
    left:-30px;
}
.card .activator{
    width:90px ! important;
    height: 90px;
    display: inline-block;
    margin-bottom:;
}
.file-upload-ctrl{
    width:100%;
    background: red;
    padding:10px;
}

/* css for no service start here*/

.no-service{
   
    padding:260px 0 0 0;

}
.no-service p{
    font-size: 20px;
    color:#000;
    font-weight: bold;

}
/* css for no service ends here*/
/* css for company member start here*/
.company-member-container{
    height: 510px;
    overflow-y: scroll;
}
.btn-add-member{
    padding: 0 1rem;

}
.sorting-order{
    border:none ! important;
    padding-bottom: 0 ! important;
}
.sorting-order .select-dropdown{
    border:none ! important;
    margin-bottom: 0 ! important;
}
.sorting-order span.caret{
    right: 31px;
    top: 12px;
}
.member-name{
   width: 100%;
    height: 100px;
    display: table;
    text-align: center
   
}
.member-name p{
   
  display: table-cell;
    vertical-align: middle;
}
.member-post{
    width: 100%;
    height: 50px;
    display: table;
    background: blue;
    color:#fff;
    padding-left: 20px;
}
.member-post p{
    display: table-cell;
    vertical-align: middle;
}
.role-para{
    margin-left: 15px;
}

/* css for company member ends here*/

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}